.text {
  overflow: hidden;
  height: 10rem;
  /* height: 12rem; */
  text-overflow: ellipsis;
}

.btn {
  max-width: 6rem;
  max-width: 93px;
  height: 38px;
  max-height: 38px;
  overflow: hidden;
}